<h1>Contact information of <%= @contact.name %></h1>

<p><%= @contact.address %></p>
<p><%= @contact.phone %></p>
<p><%= @contact.phone2 %></p>
<p><%= @contact.email %></p>
<p><%= @contact.email2 %></p>

<h6><a href='/'>Return to list</a></h6>